<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert Player Details</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='image/cpl.ico') }}">
</head>
<body>
    <form action="{{ url_for('insert') }}" method="POST" enctype="multipart/form-data">

        <label>Name:</label>
        <input type="text" class="form-control" name="name" required="1"><br>

        <label>Jersey Number:</label>
        <input type="number" class="form-control" name="jerseyNumber" required="1"><br>

        <label>Jersey Size:</label>
        <select name="jerseySize" class="form-control" required="1">
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
        </select><br>

        <label>Role:</label>
        <select name="role" class="form-control" required="1">
            <option value="Batsman">Batsman</option>
            <option value="Bowler">Bowler</option>
            <option value="All-Rounder">All-Rounder</option>
            <option value="Wicket Keeper">Wicket Keeper</option>
        </select><br>

        <label>Match Fee:</label>
        <select name="matchFee" class="form-control" required="1">
            <option value="Paid">Paid</option>
            <option value="UnPaid">UnPaid</option>
        </select><br>

        <label>Sold To:</label>
        <select name="soldTo" class="form-control" required="1">
            <option value="Team Alpha">Team Alpha</option>
            <option value="Team Bravo">Team Bravo</option>
            <option value="Team Charlie">Team Charlie</option>
            <option value="Team Charlie">Team Carol</option>
        </select><br>

        <label>Photo:</label>
        <input type="file" name="photo" accept="image/*"><br>

        <button type="submit">Insert</button>
    </form>
</body>
</html>